/* Defining color scheme and other variables */
:root {
  --primary-color: #18314f;     /* Prussian Blue */
  --secondary-color: #388659;   /* Sea Green */
  --accent1-color: #d5f2e3;     /* Honey Dew */
  --accent2-color: #01fdf6;     /* Fluorescent Cyan */
  --text-color: #000000;  
  --heading-color: #ffffff;     /* White heading color */
}

/* General body styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: end;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--heading-color);
  margin: 1rem auto;
	border-bottom: 1px solid #000000;
	max-width: 1800px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

header .logo {
  max-width: 200px;
  margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

.navigation {
	display: flex;
	list-style: none;
  align-items: baseline;
  justify-content: space-evenly;
}

.navigation li {
  font-size: 25px;
  text-align: center;
  justify-content: center;
  place-items: center;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: var(--heading-color-color);
  font-weight: bold;
  display: block;
	padding: 10px;
}

nav a:hover {
  color: var(--accent2-color);
  font-weight: 400;
	text-decoration: none;
} 

main {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.hero {
  position: relative;
}

.hero-img {
  width: 100%;
  height: auto;
  display: flex;
}

.hero h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent1-color);
  font-size: 4.0em;
  font-style: italic;
  font-weight: 100;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

article {
  position: absolute;
  top: 30%;
  left: 73%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: var(--accent1-color);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

article header {
  text-align: center; 
  font-size: 1.5em;
  margin: 0;
}

article .staff-img {
  align-self: center;
  margin-right: 20px;
  width: 120px;
  max-height: 180px;
  padding: 5px;
  display: flex;
}

article p {
  text-align: justify;
  margin: 0;
  line-height: 1.5;
}

section {
  margin: 20px 0;
}

section h2 {
  font-size: 2em;
  font-weight: 100;
  font-style: italic;
  font-size: 4.0em;
  color: var(--primary-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex; 
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.history-div {
  width: 31%;
  height: auto;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  margin: auto;
}
.history-img {
  width: 100%; 
  align-self: center;
  border-radius: 20px; 
  justify-content: center;
}

.history-div p {
  text-align: justify;
  margin: 0;
  line-height: 1.5;
} 

.adventure-div{
  width: 18%;
  margin: 9px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 0.5;
}

.adventures-img { 
  width: 100%;
  max-height: 400px; 
  border-radius: 10px; 
}

figcaption {
  margin-top: 10px;
}

footer {
  background-color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  display: flex; 
  position: relative;
}

footer p {
  margin: 10px 0;
  justify-content: center;
  text-align: center;
  color: var(--accent1-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

footer div {
  width: 20%;
  color: var(--accent1-color);
}
#copyright {
  width: 60%;
}

#copyright p:hover {
  color: var(--accent2-color);
  cursor: pointer;
}
#socials {
  align-content: center;
}
#socials .sociallinks {
  display: flex;
  flex-direction: row;
  align-items: flex-end
}
#socials .sociallinks a {
  margin-left: 10%;
}

footer img {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateY(-50%);
  margin-bottom: 10px;
  justify-content: flex-end;
}

footer div:hover {
  opacity: 0.8;
}